# list all Python packages required to run the project
# may look like this:

pandas==1.3.3
numpy==1.21.2
matplotlib==3.4.3
seaborn==0.11.2
sickit-learn==0.24.2

# can use command "pip freeze > requirements.txt" to generate this file automatically in virtual environment